Flask==2.2.2
future==0.16.0
gunicorn==20.0.4
Jinja2==3.1.2
joblib==1.1.0
numpy==1.23.2
pathspec==0.9.0
platformdirs==2.5.2
pyasn1==0.4.8
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.26.0
rsa==4.7.2
s3transfer==0.6.0
scikit-learn==1.1.2
scipy==1.9.0
sklearn==0.0
termcolor==1.1.0
threadpoolctl==3.1.0
urllib3==1.26.12
virtualenv==20.16.3
